<div id="navBar">
    <a class="navbarItem" href="/">Home</a>
    <button class="navbarItem navButton" id="scrapeButton">Scrape New Articles</button>
    <button class="navbarItem navButton">Clear all articles</button>
</div>

<div>
    <h1 id="indexHeader">Game Informer Scraper</h1>
</div>

<div class="articleList">
    {{#each articles}}
    <div class="articleDiv">
        <div class="headline">
            <h2>{{title}}</h2>
            <button class="deleteFavButtons">Delete</button>
        </div>
        <div class="link">
            <h3><a href="https://www.gameinformer.com{{link}}">{{link}}</a></h2>
        </div>
    </div>
    {{/each}}

</div>